<!DOCTYPE html><html><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="data:;base64,=">
<script src='./static/jquery.1.9.0.min.js'></script>
<script src='./static/vue3.js'></script>
<link href='./static/elementPlus.css' rel='stylesheet'/>
<script src='./static/elementPlus.js'></script>
<!--
<script src='./static/xlsx.full.min.js'></script>
<script src='./static/jexcel.js'></script>
<link href='./static/jexcel.css' rel='stylesheet'/>
<script src='./static/jsuites.js'></script>
<link href='./static/jsuites.css' rel='stylesheet'/>
-->
</head><body><script src="./static/axios.min.js"></script>
<div id="app">
	<div>
    <el-cascader v-if="showPathSelect" :options="options" v-model="cascaderValue" @change="handleCascaderChange"
    v-loading.fullscreen.lock="fullscreenLoading"
/>
    </div>  

  <el-button
    v-loading.fullscreen.lock="fullscreenLoading"
    type="primary"
	style="display:none"
    @click="openFullScreen1"
  >
  </el-button>

  	<!--
  	<el-input type="file" :files="inputFile" @change="handleFileChange($event)"></el-input>
	-->

      
	<el-button v-for="value,item,index in basePath" @click="handlePathChange(value, item)">{{item}}</el-button>



</div>



<script type="module">

  

function initPath (path) {
  const newPath = path.map(item => {
    item.value = item.name
    item.label = item.name
    if (item.children) {
      item.children = initPath(item.children)
    }
    return item
  })
  return newPath
}


const app = Vue.createApp({
  data () {
    return {
      options: [],
      cascaderValue: '',
      inputFile: '',
      showPathSelect: false,
      baseUrl: 'http://10.71.176.123:6060/proxy?p=file&ac=getPathTreeJson&path=',
      currentPath: 'lodash',
      fullscreenLoading: false,
	  basePath: {
       'lear-DEV': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',   
       'lear-Online': 'C:\\Users\\ASRS\\Desktop\\lear-wms\\',  
       'quick-demo': 'D:\\code\\django-quick-demo\\',
       'utils': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\utils\\',        
       test:'C:\\Users\\ASRS\\Desktop\\test\\',        
       'bamboo': 'C:\\Users\\ASRS\\Desktop\\Newfolder\\bamboo\\', 
       'note': 'C:\\Users\\ASRS\\Desktop\\bamboo-note\\',         
       nginx: 'C:\\Users\\ASRS\\Desktop\\lear-wms\\bin\\nginx\\',       
       'paradisaea': 'C:\\Users\\ASRS\\Desktop\\paradisaea\\',    
       guqing: '/mnt/c/Users/lpko/Desktop/guqing/bamboo/', 
       'lear-wms-service': 'C:\\Users\\ASRS\\Desktop\\lear-wms\\lear-wms-service\\',        
       'lear-wcs-admin': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-wcs-admin\\',  
       'lear-wms-openapi': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-wms-openapi\\',          
       'lear-big-screen': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-big-screen\\',     
       'lear-big-screen-static': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-big-screen\\static\\',       
       'lear-wcs': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-wcs\\',
       'lear-wms-api': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-wms-api\\',
       'lear-wms-spa': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\lear-wms-spa\\',            
      },
	  gitPath: {
       'lear-DEV': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',   
       'lear-Online': 'C:\\Users\\ASRS\\Desktop\\lear-wms\\',  
       'quick-demo': 'D:\\code\\django-quick-demo\\',
       'utils': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',        
       test:'C:\\Users\\ASRS\\Desktop\\test\\',        
       'bamboo': 'C:\\Users\\ASRS\\Desktop\\Newfolder\\bamboo\\',   
       'note': 'C:\\Users\\ASRS\\Desktop\\bamboo-note\\',
       nginx: 'C:\\Users\\ASRS\\Desktop\\nginx\\',       
       'paradisaea': 'C:\\Users\\ASRS\\Desktop\\paradisaea\\',    
       guqing: '/mnt/c/Users/lpko/Desktop/guqing/bamboo/', 
       'lear-wms-service': 'C:\\Users\\ASRS\\Desktop\\lear-wms\\',        
       'lear-wcs-admin': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',  
       'lear-wms-openapi': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',          
       'lear-big-screen': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',     
       'lear-big-screen-static': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',       
       'lear-wcs': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',
       'lear-wms-api': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',
       'lear-wms-spa': 'C:\\Users\\ASRS\\Desktop\\lear-wms-dev\\',            
      }      
    }
  },
  methods: {
    handleCascaderChange () {
      console.log(this.cascaderValue.join('/'))
      const u = './editor.html?fn='+this.basePath[this.currentPath]+this.cascaderValue.join('/') + '&path='+this.gitPath[this.currentPath]
      console.log('20230302',this.basePath[this.currentPath],this.currentPath,this.cascaderValue.join('/'))
      window.open(u, '_blank')
    },
    async getPath (u) {
      // const loading = this.loading()
      this.fullscreenLoading = true
      const options = {
        url: u,
        method: 'get',      
      }
      try {
        const s = await axios.request(options)
      	console.log(s.data)
      	this.options = initPath(s.data.children)
      	console.log('1', this.options)
      	this.showPathSelect = true
      	console.log('1', this.showPathSelect)
        this.fullscreenLoading = false
      } catch (e) {
        console.log(e)
        this.fullscreenLoading = false
      }
    },
    handleFileChange (event) {
      console.log(event)
      console.log(this.inputFile)
    },
    handlePathChange(u, uname) {
     u = this.baseUrl + u
     this.currentPath = uname
     this.getPath(u)      
    },
    loading () {
      const loading = this.$service({
    	lock: true,
    	text: 'Loading',
    	background: 'rgba(0, 0, 0, 0.7)',
  	  })
      return loading
    }
  },
  mounted () {
    // this.showPathSelect = true
    const u = this.baseUrl + this.basePath[this.currentPath]
    // this.getPath(u)
  }
}).use(Vue).use(ElementPlus).mount("#app")


  
</script>

<style>
    .el-cascader-menu__wrap.el-scrollbar__wrap{
      height: auto;
      max-height:500px;
    }
      
      
</style>




<script></script><script></script></body></html>