# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
node_modules/
__pycache__/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
pyvenv.cfg
Lib/
Scripts/
settings.py