<!DOCTYPE html>
  <html>
<<<<<<< HEAD
  <head><link rel="stylesheet" type="text/css" href="./static/material-icons.css">
=======
  <head>
<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./static/material-icons.css">
>>>>>>> 936d9fdd17824cc34b798b9d092df53c968a8a5e
<link rel="stylesheet" type="text/css" href="./static/quasar.prod.css">
<script src="./static/vue.global.prod.js"></script>
<script src="./bookshelf.js"></script>
<script src="./static/jquery.min.js"></script>
<style>
  #contentDiv {
    font-size:2.5em;
  }
  
  
</style>


<style>.menu{
  position: absolute;
  display: none;
  padding: 0px;
  margin-top: 5px;
 }
 .menu >ul{
  padding: 2px;
 }
.desktop-footer{
  background-color:#f8f8f8;
}
hr{
}
.footer-button{
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 5%;
#  border: 1px solid blue;
#  border-radius: 50%;
  padding: 0.5em;
#  border-color: blue;
#  background-color: #f2f2f2;
}
.footer-button>span{
  display:block;
  font-size: 1em;
  width:1em;
  height:1em;
}
.toolMenu>li{
  margin-left: 5px;
  list-style:none;
}
.footer-button:hover{
 border-radius:5px;
  bottom: 30px;
  border: 1px solid blue;
  background-color:#f7f7f7;
}
.footer-button:hover >.toolMenu{
  display: block;
  width: auto;
  justify-content: space-between;
  position: relative;
  right: 2px;
  bottom:5px;
  height: 100%;
}
.footer-button:hover >img{
  display: none;
}

button{
	border-radius:1rem;
  	border-color:#0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
  	border-width: thin;
  	margin-bottom:2px;
}

button:hover{
	background-color:#0d6efd;
  	color:#f2f2f2;
}

input{
#	max-width:5em;
}
</style>
  
<body>
  <!--
    <q-dialog v-model="dialogVisible">
      <q-card>
        <q-card-section>
          <q-input v-model="emailAdress"></q-input>
        </q-card-section>
      </q-card>
    </q-dialog>
  -->  
  
<div id="app">
<div class="cover" v-if="coverPage && emailAdress !== 'bamboo@bambooslips.cn'">
   <img :src="coverImageUrl" @click="showBookshelf">
</div>
  
  
<<<<<<< HEAD
<div id="bookshelfContainer" v-show="!coverPage"></div>
=======

  <div class="q-pa-md" style="padding-top: 50px">
    <div id="bookshelfContainer" v-show="!coverPage"></div>
    
    <div class="row justify-between" style="padding-top: 50px">
      <q-fab
        v-model="fabRight"
        vertical-actions-align="right"
        glossy
        color="primary" 
        icon="keyboard_arrow_right"
        direction="right"
      >
        <q-fab-action label-position="top" color="primary" @click="switchPage('catalog')" label="学习" ></q-fab-action>
        <q-fab-action label-position="right" color="orange" @click="switchPage('life')" label="生活" ></q-fab-action>          
      </q-fab>
    </div>
  </div>
  
  

  

>>>>>>> 936d9fdd17824cc34b798b9d092df53c968a8a5e
  
  
<div class="desktop-footer"> 
  <div class="footer-button">
    <ul class="menu toolMenu">
      	<div id="toolDivFooter"></div>
    </ul>
    <!-- <img style="width:1.5em;" src="http://127.0.0.1/home/lpko/static/bambooslips.png"> -->
  </div>
</div>
</div>


<style>
    body {
      
  /* The image used */
  #background-image: url("http://127.0.0.1:6006/static/cover.png");

  /* Full height */
  #height: 100%;

  /* Center and scale the image nicely */
  #background-position: center;
  #background-repeat: no-repeat;
  #background-size: cover;
    }
	.cover img{
    	width: 100%;
    	height: 100%;
    	object-fit: fill;
    }
</style>


  
  
<<<<<<< HEAD
<script src="https://cdn.jsdelivr.net/npm/quasar@2/dist/quasar.umd.prod.js"></script>
=======
<script src="./static/quasar.umd.prod.js"></script>
>>>>>>> 936d9fdd17824cc34b798b9d092df53c968a8a5e
<script>
      const { useQuasar } = Quasar
      const $q = useQuasar()
      const app = Vue.createApp({
           data () {
               return {
                 coverPage: true,
                 dialogVisible: true,
<<<<<<< HEAD
=======
                 fabRight: false,
>>>>>>> 936d9fdd17824cc34b798b9d092df53c968a8a5e
                 emailAdress: '',
                 coverImageUrl: 'http://127.0.0.1:6006/static/cover.png'
    		   }
            },
            methods:{
               notify () {
    		     $q.notify('Running on Quasar v' + $q.version)
    		   },
               showBookshelf(){
                 this.coverPage = false;
                 this.coverImageUrl = ''
                 
<<<<<<< HEAD
               }
=======
               },
              switchPage(t){
                let u = ''
                if (t == 'catalog'){u = './learn'}
                if (t=='note'){u='./note'}
                window.open(u,'_self')
              }
>>>>>>> 936d9fdd17824cc34b798b9d092df53c968a8a5e
            },
            mounted() {
              console.log("hello")
              console.log(this.dialogVisible)
            }
      })
      app.use(Quasar)
      app.mount('#app')
  
  
  
  	            	var url="http://localhost:8088/view?vt=page&hv=cod4ecdf8488d&uhv=1236c7672f3cb";
  	            	var pn=new URLSearchParams(url.search);
  	            	var la=pn.get("la");
  	            	var uhv="ba69336fd0";
  	            	var tags=["all","recntly","math","china","health","calligraphy","cm","bamboo","stock","chengming","daoism","career"];
  	            	tags=["math","china","calligraphy","cm","bamboo","chengming","career"];
  	            	var tagsChinese=[];
  	            	tagsChinese=[];
            
  	            	init_pageContent(uhv);

  	            	if( la !== null){
  	            		show_bookShelfWithTag(uhv,la);
  	            	  init_title(la);
  	            	  append_tagCurrentButton(uhv,document.getElementById("bookshelfCurrentDiv"),la,tags,tagsChinese); 
  	            	}
  	            	else{show_bookShelf(uhv);}
</script></body></html>