<!DOCTYPE html>
  <html>
  <head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="./main.css">  
<link rel="stylesheet" type="text/css" href="./static/material-icons.css">
<link rel="stylesheet" type="text/css" href="./static/quasar.css"  rel="stylesheet" type="text/css">
<script src="./static/vue.global.prod.js"></script>
<script src="./bookshelf.js"></script>
<script src="./static/jquery.min.js"></script>
</head>
  
<body>
  <!--
    <q-dialog v-model="dialogVisible">
      <q-card>
        <q-card-section>
          <q-input v-model="emailAdress"></q-input>
        </q-card-section>
      </q-card>
    </q-dialog>
  -->  
  
<div id="app">
  
<div class="cover" v-if="coverPage && emailAdress !== 'bamboo@bambooslips.cn'">
   <img :src="coverImageUrl" @click="showBookshelf">
</div>
  
  

  <div class="q-pa-md" style="padding-top: 50px"  v-show="!coverPage">
    <q-layout view="lhh LpR lff" container style="height: 1080px" class="shadow-2 rounded-borders">
      <!--
      <q-header reveal class="bg-black">
        <q-toolbar>
          <q-btn flat round dense icon="menu" />
          <q-toolbar-title>Header</q-toolbar-title>
        </q-toolbar>
      </q-header>
      -->
      <q-page-container>
        <q-page padding>

          <div id="bookshelfContainer"></div>
          
          <q-page-sticky position="bottom-right" :offset="[18, 18]">
             <q-fab
               position="bottom-right" 
               v-model="fabRight"
               vertical-actions-align="right"
               color="primary"
               glossy
               icon="keyboard_arrow_up"
               direction="up"
               style="min-height:5em;min-width:5em;"
               
             >
                 
               <q-fab-action label-style="font-size: 3em;height:5em" label-position="right" color="primary" @click="switchPage('note')" label="笔记"></q-fab-action> 
               <q-fab-action label-style="font-size: 3em;height:5em" label-position="right" color="primary" @click="switchPage('catalog')" label="学习"></q-fab-action>
               <q-fab-action label-style="font-size: 3em;height:5em" label-position="right" color="orange" @click="switchPage('life')" label="生活"></q-fab-action>          
             </q-fab>  
          </q-page-sticky>
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
  

  
<div class="desktop-footer"> 
  <div class="footer-button">
    <ul class="menu toolMenu">
      	<div id="toolDivFooter"></div>
    </ul>
    <!-- <img style="width:1.5em;" src="http://127.0.0.1/home/lpko/static/bambooslips.png"> -->
  </div>
</div>
</div>


<script src="./static/quasar.umd.prod.js"></script>
<script>
      const baseUrl = 'http://127.0.0.1:8088'
      const { useQuasar } = Quasar
      const $q = useQuasar()
      const app = Vue.createApp({
           data () {
               return {
                 coverPage: false,
                 dialogVisible: true,
                 fabRight: false,
                 emailAdress: '',
                 coverImageUrl: './static/cover.png'
    		   }
            },
            methods:{
               notify () {
    		     $q.notify('Running on Quasar v' + $q.version)
    		   },
               showBookshelf(){
                 this.coverPage = false;
                 this.coverImageUrl = ''
                 
               },
              switchPage(t){
                let u = ''
                if (t == 'catalog'){u = './learn'}
                if (t=='note'){u='./note.html'}
                window.open(u,'_self')
              }
            },
            mounted() {
              console.log("hello")
              console.log(this.dialogVisible)
            }
      })
      app.use(Quasar)
      app.mount('#app')
  
  
  
  	            	var url="http://localhost:8088/view?vt=page&hv=cod4ecdf8488d&uhv=1236c7672f3cb";
  	            	var pn=new URLSearchParams(url.search);
  	            	var la=pn.get("la");
  	            	var uhv="ba69336fd0";
  	            	var tags=["all","recntly","math","china","health","calligraphy","cm","bamboo","stock","chengming","daoism","career"];
  	            	tags=["math","china","calligraphy","cm","bamboo","chengming","career"];
  	            	var tagsChinese=[];
  	            	tagsChinese=[];
            
  	            	init_pageContent(uhv);

  	            	if( la !== null){
  	            	  //show_bookShelfWithTag(uhv,la);
  	            	  //init_title(la);
  	            	  //append_tagCurrentButton(uhv,document.getElementById("bookshelfCurrentDiv"),la,tags,tagsChinese); 
  	            	}
  	            	else{
                      show_bookShelf(uhv);
                    }
</script></body></html>