<!DOCTYPE html><html><head><meta charset="utf-8">	
<link rel="stylesheet" type="text/css" href="./static/material-icons.css">
<link rel="stylesheet" type="text/css" href="./static/quasar.prod.css">
<link rel="stylesheet" type="text/css" href="./static/swiper-bundle.min.css">  
<script src="./static/vue.global.prod.js"></script>
<script src="./bookshelf.js"></script>
<script src="./static/jquery.min.js"></script>
<script src="./static/axios.min.js"></script>
<script src="./knowledge.js"></script>
<style>
#knowledgePage>ol>*{
	border:1px solid #f2f2f2;
  	#margin-top:10px;
}

#knowledgePage>ol>*:hover{
  background-color:#f2f2f2;
}

.isprevious{
  background-color:#f9dbdb;
}</style><body><div id="knowledgePage">
  	<div v-if="showStyle=='card'" class="knowledge-card q-pa-md row items-start q-gutter-md">

      
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div 
       class="swiper-slide"
       style="height:100%;"
       :id="`${k.id}-${index}`"
	   v-for="k,index in knowledge" :class="isPrevious(k.id)" >
      
     
    <q-card
      class="my-card text-white"
      :style="{minHeight:screenHeight,background: 'radial-gradient(circle, #35a2ff 0%, #014a88 100%)'}"
	  >
      <q-card-section>
        <div class="text-h2">{{k.text}}</div>
      </q-card-section>

      <q-card-section>
        <div class="text-h3">{{k.details}}</div>
      </q-card-section>


      <q-card-section>
        <div style="width:100%;height: 10%;bottom: 0px;position: fixed" @click="showMore(`${k.id}-${index}`)" ></div>
      </q-card-section>

      <q-rating
        v-model="knowRating"
        max="10"
        @click="changeKnowRating"
        size="5em"
        color="red"
        color-selected="red-9"
        icon="star_border_purple500"
        icon-selected="star"
        icon-half="star_half"
        no-dimming
      ></q-rating>

    </q-card> 
      
      
    </div>
    ...
  </div>

</div>



  </div>
  <ol v-if="showStyle=='list'">
  <li v-for="k in knowledge" :class="isPrevious(k.id)" @click="view_article(k.id)" >{{k.text}}</li>
  </ol>
</div>


<style>
.knowledge-card{
   width:98%;
   height:96%; 
}
.swiper {
  width: 100%;
  height: 100%;
}
</style>
<script src="./static/swiper-bundle.min.js"></script>
<script src="./static/quasar.umd.prod.js"></script>
<script>
  const baseUrl = "http://127.0.0.1:8088"
  const baseApiUrl = "http://127.0.0.1:6068"
  var url=new URL(window.location.href);
  var pn= new URLSearchParams(url.search);
  const bhv=pn.get("bhv");
  const id=pn.get("id")
  
  
  init_page(bhv,id);
  
</script></body></html>