#contentDiv {
    font-size:2.5em;
}
.menu{
  position: absolute;
  display: none;
  padding: 0px;
  margin-top: 5px;
 }
 .menu >ul{
  padding: 2px;
 }
.desktop-footer{
  background-color:#f8f8f8;
}
hr{
}
.footer-button{
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 5%;
#  border: 1px solid blue;
#  border-radius: 50%;
  padding: 0.5em;
#  border-color: blue;
#  background-color: #f2f2f2;
}
.footer-button>span{
  display:block;
  font-size: 1em;
  width:1em;
  height:1em;
}
.toolMenu>li{
  margin-left: 5px;
  list-style:none;
}
.footer-button:hover{
 border-radius:5px;
  bottom: 30px;
  border: 1px solid blue;
  background-color:#f7f7f7;
}
.footer-button:hover >.toolMenu{
  display: block;
  width: auto;
  justify-content: space-between;
  position: relative;
  right: 2px;
  bottom:5px;
  height: 100%;
}
.footer-button:hover >img{
  display: none;
}

button{
	border-radius:1rem;
  	border-color:#0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #0d6efd;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
  	border-width: thin;
  	margin-bottom:2px;
}

button:hover{
	background-color:#0d6efd;
  	color:#f2f2f2;
}

input{
#	max-width:5em;
}
    body {
      
  /* The image used */
  #background-image: url("http://127.0.0.1:6006/static/cover.png");

  /* Full height */
  #height: 100%;

  /* Center and scale the image nicely */
  #background-position: center;
  #background-repeat: no-repeat;
  #background-size: cover;
    }
	.cover img{
    	width: 100%;
    	height: 100%;
    	object-fit: fill;
    }