<!DOCTYPE html><html><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="data:;base64,=">
<title></title>
<script src='./static/jquery.min.js'></script>
<script src='./static/vue3.js'></script>
<link href='./static/elementplus.css' rel='stylesheet'/>
<script src='./static/elementplus.js'></script>
<script src='./static/codemirror.js'></script>
<script src='./static/javascript.js'></script>
<link href='./static/codemirror.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css" href="./static/material-icons.css">
<link rel="stylesheet" type="text/css" href="./static/quasar.css"  rel="stylesheet" type="text/css">  
<link href="./static/quill.snow.css" rel="stylesheet" />
</head><body>



<style>
  	body{font-size:20px;}
  	#cm{height:80%;width:100%;}
    .CodeMirror{
      background-color:#EAEAEF;
    }
	#gitCommit{
      width: -webkit-fill-available;
      border: 0.01px solid #ffcdcd;
      height: 30px;
    }
.ql-editor {
  counter-reset: line;
  padding-left: 0;
}

.ql-editor p:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}
</style>
<script src="./static/axios.min.js"></script>

</head>
<body>

  


      
<div id="app">
    <q-layout view="lhh LpR lff" container :style="{ height: screenHeight +'px', width: $q.screen.screenWidth + 'px' }" class="shadow-2 rounded-borders">
      <q-page-container>
      
      
      
      <div v-if="contentType=='list'">
        
      <q-table
        :style="{ width: $q.screen.screenWidth + 'px'  }"
        class="my-sticky-header-column-table shadow-24"
        :rows="noteList"
        grid
        row-key="id"
        :pagination.sync="pagination"
        :columns="noteColumns"
        virtual-scroll
      >
       <template v-slot:body="props" @click="editorNote(props.row)">
          <q-tr :props="props">
            <q-td key="note_title" :props="props">{{ props.row.note_title }}</q-td>
            <q-td key="note" :props="props">{{ props.row.note }}</q-td>
            <q-td key="note_tags" :props="props">{{ props.row.note_tags }}</q-td>
            <q-td key="rating" :props="props">{{ props.row.rating }}</q-td>
            <q-td key="creater" :props="props">{{ props.row.creater}}</q-td>
            <q-td key="create_time" :props="props">{{ props.row.create_time}}</q-td>
            <q-td key="action" :props="props">
              <q-btn push padding="xs" color="light-green-4" size="sm" text-color="white" label="清除"></q-btn>
            </q-td>
          </q-tr>
        </template>

      <template v-slot:item="props">
        <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4" @click="editorNote(props.row)">
          <q-card flat bordered>
            <q-card-section class="text-center">
              {{ props.row.note_title }}
            </q-card-section>
            <q-card-section class="flex flex-center">
              <div>{{ props.row.note.substring(0,15) }}</div>
            </q-card-section>
          </q-card>
        </div>
      </template>




        </q-table>
        
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <div class="container"  style='margin-top:1em;max-height:800px;' v-show="contentType=='editor'">
        
        
<q-input  stack-label :dense="dense"   v-model="noteTitle" label="笔记的名字" style="width:70%;margin-left:15%;margin-bottom:1em;" ></q-input>
      
      <!-- <textarea placeholder="input" autofocus class="ng-pristine ng-valid ta-bind ng-touched" id="cm" ng-show="showHtml" ta-bind="ta-bind" ng-model="html" style="position: absolute;width: 500px;height: 400px;" ></textarea> -->





<!-- Create the toolbar container -->
<!--
<div id="toolbarQl">
  <button class="ql-bold">Bold</button>
  <button class="ql-italic">Italic</button>
</div>
-->


<!-- Create the editor container -->
<div id="editorQl" style="min-height:300px;">
  <p></p>
</div>




      </div>      
      
      
        <q-page padding>

          
          <q-page-sticky position="bottom" :offset="[18, 18]">
             <q-btn
               icon="save"
               :text-color="'black'" 
               :color="'white'"
               style="min-height:2em;min-width:2em;"
               @click="postNewNote"
               v-if="contentType=='editor'"
             >
             </q-btn>                 
             <q-btn
               icon="mode_edit"
               :text-color="'black'" 
               :color="'white'"
               style="min-height:2em;min-width:2em;"
               @click="contentType='editor'"
               v-if="contentType=='list'"
             >                 
             </q-btn>
             <q-btn
               icon="star_outline"
               :text-color="'black'" 
               :color="'white'"
               style="min-height:2em;min-width:2em;"
               @click="showEditorValue"
             >
             </q-btn>
             <q-btn
               icon="label"
               :text-color="'black'" 
               :color="'white'"
               style="min-height:2em;min-width:2em;"
             >
             </q-btn>

             <!-- :color="contentType=='list' ? 'primary' : ''" -->
             <q-btn
               @click="showNoteList"
               icon="list"
               :text-color="contentType=='list' ? 'white' : 'black'" 
               :color="contentType=='list' ? 'primary' : 'white'"
               style="min-height:2em;min-width:2em;"
             >
             </q-btn>

             <q-btn
               @click="newNote"
               icon="add"
               :text-color="currentNoteCode=='' ? 'white' : 'black'" 
               :color="currentNoteCode=='' ? 'secondary' : 'white'"
               style="min-height:2em;min-width:2em;"
             >
             </q-btn>

          </q-page-sticky>          
          
          
          <q-page-sticky position="bottom-right" :offset="[18, 18]" v-if="false">
             <q-fab
               position="bottom-right" 
               v-model="fabRight"
               vertical-actions-align="right"
               color="primary"
               glossy
               icon="keyboard_arrow_up"
               direction="up"
               style="min-height:2em;min-width:2em;"
             >
             </q-fab>
          </q-page-sticky>



        </q-page>
      </q-page-container>
    </q-layout>

</div>
      
<div style="display:none"><form target="_blank" action="" method="post" id="basic_form"><textarea id="basic_formTextarea" name="pv"></textarea></form></div>



<script src="./static/quasar.umd.prod.js"></script>
<script src="./static/quill.js"></script>

      
	<script>
    var url=new URL(window.location.href);
	var pn=new URLSearchParams(url.search);
	var tp=pn.get("tp");
	var mo=pn.get("mo");
    var fn=pn.get("fn");
    var note_code=pn.get("note_code");
    var path=pn.get("path");
    var httpfnread=pn.get("httpfnread");
    var httpfnchange=pn.get("httpfnchange");
    const fileApi = localStorage.getItem("fileApi") == null ? 'http://127.0.0.1:6069' : localStorage.getItem("fileApi");
    console.log(fileApi)
    const commandApi = localStorage.getItem("commandApi") == null ? fileApi : localStorage.getItem("commandApi");
    console.log(commandApi)

    const paradisaeaFileCommand = commandApi+ '/api/v1/file/command/';
	var host = pn.get('host')
    if (host !== undefined && host !== null) {
      var paurl=host+fileApi + "/api/v1/file/?filePath="+fn;
      var pourl=host+fileApi + "/api/v1/file/?filePath="+fn;     
    } else {
      var paurl=fileApi + "/api/v1/file/?filePath="+fn;
      var pourl=fileApi + "/api/v1/file/?filePath="+fn;
    }

	if (fn == null) {
      var paurl=httpfnread;
      var pourl=httpfnchange;    
    }


	if(fn!=null){document.querySelector("title").innerHTML=fn;}

	
                      
    function init_editor(){
	$.get(paurl,function(d){
      editor.getDoc().setValue(d['content']);
    });
} 

	//init_editor();
	async function listen_key(){
		document.body.addEventListener('keyup',async  function(e){
        console.log(typeof(editor.getValue()))
			if(e.ctrlKey && e.keyCode===16){
     	  const options = {
     	    url: document.getElementById('gitCommit').value == '' ? pourl : paradisaeaFileCommand,
     	    method: document.getElementById('gitCommit').value == '' ? 'put' : 'post',
           data: {             
             'command': {'quick': document.getElementById('gitCommit').value, 'git_path': path},
             'content': String(editor.getValue()),
             'filePath': fn,
             'fileInfo': {}           
             },

      	  	}
          console.log(options)
          const s = await axios.request(options)
          const ele = document.createElement('div')
          ele.innerHTML = s.data['tips']
          if (s.data['tips']  == 'error') {
             ele.style="position: fixed;height: 50px;top: 50px;left: 50px;color: blue;background-color: #ff0c0c;"
          } else {
             ele.style="position: fixed;height: 50px;top: 50px;left: 50px;color: red;background-color: aquamarine;"
          }
          
          document.body.appendChild(ele)
          setTimeout(() => {ele.remove();document.getElementById('gitCommit').value=''}, 300)
			}
          
			if(e.key === 'Enter'){
              const c = document.getElementById('gitCommit').value;
              const cms = c.split('---');
              if (cms.length == 2) {
                if (cms[0] == 'fileApi') {
                  localStorage.setItem('fileApi',cms[1]);
                }
                if (cms[0] == 'commandApi') {
                  localStorage.setItem('commandApi',cms[1]);
                }
                if (cms[0] == 'fileRoot') {
                  localStorage.setItem('fileRoot',cms[1]);
                }
                document.getElementById('gitCommit').value='';
                return true
              }
              
              if (c != ''){
               document.getElementById('gitCommit').value='';
               window.open('https://www.google.com/search?q='+ c, '_blank');
              }  
			} 
          
		});
	}
	// listen_key();



      const { useQuasar } = Quasar
      const $q = Quasar

      console.log('654465846846', $q)
      
      const app = Vue.createApp({
           data () {
               return {
                 baseUrl: 'http://10.71.179.195:6069',
                 basePageUrl: 'http://10.71.179.195:6006/paradisaea/learn/note.html?',  
                 //baseUrl: 'http://127.0.0.1:6069',
                 //basePageUrl: 'http://127.0.0.1:6006/paradisaea/learn/note.html?',                   
                 editor: {},
                 noteTitle:'',
                 contentType: 'editor',
                 currentNoteCode: '',
                 currentNote: {"note": ''},
                 screenHeight: 0,
                 screenWidth: 0,                 
                 coverPage: false,
                 dialogVisible: true,
                 fabRight: false,
                 waitInitEditor: true,
                 emailAdress: '',
                 pagination: {
                   rowsPerPage: 0,
                   page: 1,
                   rowsPerPage: '30'
                 },
                 coverImageUrl: './static/cover.png',
                 noteList: [],
                 noteColumns:[
                    { name: 'note_title', label: '名字', align: 'left', field: 'note_title' },
                    { name: 'note', label: '内容...', align: 'note' },
                    { name: 'note_tags', label: '标签', align: 'left', field: 'note_tags' },
                    { name: 'rating',  style: 'overflow:auto;', label: '程度', align: 'rating' },
                    { name: 'creater', label: '作者', align: 'left', field: 'creater' },
                    { name: 'create_time', label: '时间', align: 'left', field: 'create_time' },                  
                    { name: 'action', label: '操作', align: 'left', field: 'action' },  
                 ]
    		   }
            },
            watch:{
              //currentNote: function(newVal){
              //  if (newVal != {"note": ''}  && this.waitInitEditor){
              //    this.initEditor()
              //    this.waitInitEditor = false
              //  }
              //}
            },
            methods:{
               editorNote(item){
                 window.open(this.basePageUrl + 'note_code=' + item["note_code"], '_self')
               },
               newNote(item){
                 window.open(this.basePageUrl,'_self')
               },              
               showEditorValue(){
                 console.log(this.editor.getText())
                 console.log(this.editor.getContents())                 
                 console.log(document.getElementById('editorQl').innerHTML)                  
                 
                 
               },
               async postNewNote(){
                  var _this = this
                  const options = {
     	             url: this.baseUrl + '/api/v1/note/',
     	             method: 'post',
                     data: {
                        "creater": "Page",
                        //"note": JSON.stringify(_this.editor.getContents()),
                        //"note": _this.editor.getText(),    
                        "note": document.getElementById('editorQl').innerHTML,                           
                        "note_tags": [],
                        "note_title": _this.noteTitle,
                        "rating": 0,
                        "note_code": _this.currentNoteCode
      	  	         }
                   }
                   const s = await axios.request(options)
                   if (s.data['note_code'] != _this.currentNoteCode) {
                     window.open(_this.basePageUrl + 'note_code=' + s.data['note_code'], '_self')
                   }
               },
               async getNoteData(){
                  var _this = this
     	          const url =  _this.baseUrl + '/note/?note_code=' +  _this.currentNoteCode
                  const s = await axios.get(url)
                  if (s.data.results.length = 1){
                     _this.currentNote = s.data.results[0]
                     //_this.editor.doc.setValue('utfvukydgeus')                    
                     //_this.editor.setValue(_this.currentNote['note'])
                     //this.editor.deleteText(0,this.editor.getLength())
                     //this.editor.setContents([
                     //   { insert: _this.currentNote['note'] },
                     // ]);
                     //console.log(this.editor.getText())
                    
                    _this.noteTitle = _this.currentNote['note_title']
                    console.log(document.getElementById("editorQl").innerHTML)
                    document.getElementById('editorQl').innerHTML = _this.currentNote['note']
                    _this.initEditor()
                  }
               },              
               async showNoteList(){
                  this.getList()
                  this.contentType = 'list'
               },
               async getList(){
                  var _this = this
                   const res = await axios.get(this.baseUrl +'/note/')
                   _this.noteList = [...res.data.results]
                  console.log(_this.noteList)
               },              
               notify () {
    		     Quasar.Notify.create('Running on Quasar v' + $q.version)
    		   },
               showBookshelf(){
                 this.coverPage = false;
                 this.coverImageUrl = ''
                 
               },
              switchPage(t){
                let u = ''
                if (t == 'catalog'){u = './learn'}
                if (t=='note'){u='./note.html'}
                window.open(u,'_self')
              },
              initEditor(){
                  var toolbarOptions = [
                    //['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['bold', 'italic', 'underline'],        // toggled buttons                    
                    ['blockquote', 'code-block'],
                  
                    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    //[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                    //[{ 'direction': 'rtl' }],                         // text direction
                  
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                  
                    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                    //[{ 'font': [] }],
                    [{ 'align': [] }],
                  
                    //['clean']                                         // remove formatting button
                  ];
                
                
                
                 this.editor = new Quill('#editorQl', {
                   modules: { 
                     //toolbar: '#toolbarQl' 
                     toolbar: toolbarOptions
                   },
                   theme: 'snow',
                 })
                 this.editor.focus()
                 console.log(this.editor.getLength())
              }
            },
            created() {
              this.screenHeight = Quasar.Screen.height
              this.screenWidth = Quasar.Screen.width     
              console.log(this.screenHeight, this.screenWidth )
 
               
              
              
            },
            mounted() {
              console.log("hello")
              console.log(this.dialogVisible)
              const _this = this
              
              if(note_code!=null && note_code != ''){
                 console.log(note_code)
                 this.currentNoteCode = note_code
                 this.getNoteData()
              }else{
                 this.initEditor()
              }                
              setTimeout(() => {
                 console.log("Delayed for 1 second.");
                 //_this.initEditor()
               }, "300");
              
              //this.editor = CodeMirror.fromTextArea(document.getElementById("cm"), {
              //    lineNumbers: true,
              //    mode: "javascript",
              //    matchBrackets: true,
              //    scrollbarStyle: null,
              //    lineWrapping:"scroll",
              //    extraKeys: {
              //          "Tab": function(cm){
              //            cm.replaceSelection("   " , "end");
              //          }
              //         }
              //  })  
              
              // this.editor = new Quill('#editorQl', {
              //   modules: { toolbar: '#toolbarQl' },
              //   theme: 'snow',
              // })
              // console.log(this.editor.getLength())
              
              //this.editor.deleteText(0,this.editor.getLength())
              //this.editor.setContents([
              //   { insert: 'Hello ' },
              // ]);
              //console.log(this.editor.getText())
              

              
            }
      })
      app.use(Quasar)
      app.mount('#app')
      
      
      
      
      
      
	</script>

<style>
#cm {
    position: absolute;
    width: 500px;
    height: 400px;
}
        
</style>


<script>
  $("#toolbox").hover(function () {
		$("#toolbox img").style('display','none');
		$("#toolbox #toolButtonBox").style('display','flex');  
  }, function () {
		$("#toolbox img").style('display','block');
		$("#toolbox #toolButtonBox").style('display','none');  	   
  });
  $("#viewFile").click(function(){
        window.open("http://localhost:6006/preview-editor.html?fn="+fn,"_blank");
  });
  
</script>


</body></html></body></html>